{% extends 'base.html.twig' %}

{% block body %}
    <h1>File options</h1>

    <div>
        <a class="btn btn-default" href="{{ path('documents_journal_index') }}">Cancel</a>
    </div>

    <div class="col-md-3 col-md-offset-4">
        {{ form_start(csv_form) }}
        {{ form_widget(csv_form) }}
        {{ form_end(csv_form) }}
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="col-sm-12">
        <pre>
{{ bank_import }}
        </pre>
    </div>
{% endblock %}