{% extends 'base.html.twig' %}

{% block body %}
    <h1>File options</h1>

    <a class="btn btn-default" href="{{ path('documents_journal_index') }}">Cancel</a>

    {{ form_start(csv_form) }}
    {{ form_widget(csv_form) }}
    {{ form_end(csv_form) }}

    <pre>
{{ bank_import }}
    </pre>
{% endblock %}