{% extends 'base.html.twig' %}

{% block body %}
    <h1>Choose columns</h1>

    <a class="btn btn-default" href="{{ path('documents_journal_index') }}">Cancel</a>

    {{ form_start(bank_data_form) }}
    {{ form_widget(bank_data_form) }}
    {{ form_end(bank_data_form) }}

    <table class="table table-striped">
        <thead>
            <tr>
            {% for header in headers %}
                <th>{{ header }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for row in rows %}
            <tr>
            {% for field in row %}
                <td>{{ field }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}