                    <ul class="nav navbar-nav">
                        {% if is_granted("ROLE_ADMIN") %}
                        <li><a href="{{ path('booking_book_index') }}">Accounts</a></li>
                        {% endif %}
                        {% if is_granted("ROLE_MANAGER") %}
                        <li><a href="{{ path('member_index') }}">Members</a></li>
                        <li><a href="{{ path('tag_index') }}">Tags</a></li>
                        <li><a href="{{ path('documents_journal_index') }}">Journals</a></li>
                        {% endif %}
                        {% if is_granted("ROLE_ADMIN") %}
                        <li><a href="{{ path('user_index') }}">Users</a></li>
                        {% endif %}
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a href="{{ path('booking_my_book_show') }}">My account</a></li>
                        {% endif %}
                        {% if is_granted("ROLE_MANAGER") %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Reports <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('booking_book_balanceReport') }}">Balance</a></li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
