{% extends 'base.html.twig' %}

{% block body %}
    <h1>Player list</h1>

    <div>
        <a class="btn btn-default" href="{{ path('player_new') }}">Create a new entry</a>
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Account</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td><a class="btn btn-default" href="{{ path('player_show', { 'id': player.id }) }}">{{ player.id }}</a></td>
                <td>{{ player.name }}</td>
                <td>{%  if not player.book is null %}{{ player.book.description }}{% endif %}</td>
                <td>
                    <a class="btn btn-default" href="{{ path('player_show', { 'id': player.id }) }}">show</a>
                    <a class="btn btn-default" href="{{ path('player_edit', { 'id': player.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
