{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ book.description }}</h1>

    {{ form_start(filter_form) }}
    {{ form_widget(filter_form) }}
    {{ form_end(filter_form) }}

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Date</th>
            <th>Voucher</th>
            <th>Description</th>
            <th>Debit</th>
            <th>Credit</th>
            <th>Wartość</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <th>#</th>
                <th></th>
                <th>Saldo</th>
                <th>{{ debit_sum_after }}</th>
                <th>{{ credit_sum_after }}</th>
                <th>{{ value_sum_after }}</th>
            </tr>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.date|date }}</td>
                <td>{{ transaction.voucher }}</td>
                <td>{{ transaction.description }}</td>
                <td>{{ transaction.debit }}</td>
                <td>{{ transaction.credit }}</td>
                <td>{{ transaction.value }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th>Saldo przed</th>
                <th>{{ debit_sum_before }}</th>
                <th>{{ credit_sum_before }}</th>
                <th>{{ value_sum_before }}</th>
            </tr>
        </tfoot>
    </table>

{% endblock %}
