{% extends 'base.html.twig' %}

{% block body %}
    <h1>Journal list</h1>

    <a class="btn btn-default" href="{{ path('documents_journal_new') }}">Create a new entry</a>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Type</th>
                <th>Committed</th>
                <th>CommitTime</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for documents_journal in documents_journals %}
            <tr>
                <td><a class="btn btn-default" href="{{ path('documents_journal_show', { 'id': documents_journal.id }) }}">{{ documents_journal.id }}</a></td>
                <td>{{ documents_journal.description }}</td>
                <td>{{ attribute(book_types, documents_journal.type) }}</td>
                <td>{% if documents_journal.committed %}Yes{% else %}No{% endif %}</td>
                <td>{{ documents_journal.commitTime|date }}</td>
                <td>
                    <a class="btn btn-default" href="{{ path('documents_journal_show', { 'id': documents_journal.id }) }}">show</a>
                    {% if not documents_journal.committed %}
                    <a class="btn btn-default" href="{{ path('documents_journal_edit', { 'id': documents_journal.id }) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
