{% extends 'base.html.twig' %}

{% block body %}
    <h1>Booking\Book</h1>

    <a class="btn btn-default" href="{{ path('booking_book_index') }}">Back to the list</a>
    <a class="btn btn-default" href="{{ path('booking_book_edit', { 'id': booking_book.id }) }}">Edit</a>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ booking_book.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ booking_book.description }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ attribute(book_types, booking_book.type) }}</td>
            </tr>
        </tbody>
    </table>

    {{ form_start(delete_form) }}
        <input class="btn btn-default" type="submit" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}
