{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tag</h1>

    <div>
        <a class="btn btn-default" href="{{ path('tag_index') }}">Back to the list</a>
        <a class="btn btn-default" href="{{ path('tag_edit', { 'id': tag.id }) }}">Edit</a>
    </div>

    <div class="col-md-3 col-md-offset-4">
        <table class="table table-striped table-hover">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ tag.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ tag.name }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-3 col-md-offset-4">
        {{ form_start(delete_form) }}
            <input class="btn btn-default" type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
